@{
    ViewData["Title"] = "Шифр Цезаря";
}

<h2>Шифр Цезаря</h2>

<form method="post" asp-action="Encrypt">
    <input type="text" name="input" placeholder="Enter text" required />
    <button type="submit">Ввод</button>
</form>

@if (ViewBag.Original != null)
{
    <p>Original: @ViewBag.Original</p>
    <p>Encrypted: @ViewBag.Encrypted</p>
}